/node_modules
/public/hot
/public/voice/word
/public/storage
/storage/*.key
/public/client_secret_650738411223-cma1o3vegjn1s608uml3djbruuavebdr.apps.googleusercontent.com.json
/public/google-95003-2d37e7203dfa2017-11-12.json
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
