.dialogdemoBasicUsage #popupContainer {
  position: relative; }

.dialogdemoBasicUsage .footer {
  width: 100%;
  text-align: center;
  margin-left: 20px; }

.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
  font-size: 0.8em;
  margin-top: 50px; }

.dialogdemoBasicUsage button {
  width: 200px; }

.dialogdemoBasicUsage div#status {
  color: #c60008; }

.dialogdemoBasicUsage .dialog-demo-prerendered md-checkbox {
  margin-bottom: 0; }



.menudemoBasicUsage .md-menu-demo {
  padding: 24px; }

.menudemoBasicUsage .menu-demo-container {
  min-height: 200px; }


  .mat-dialog-container {
      display: flex !important;
      flex-direction: column;
  }

  .mat-dialog-container > * {
      display: flex;
      flex-direction: column;
  }

  .mat-dialog-content {
      max-height: inherit !important;
  }

  .mat-dialog-actions {
      display: block !important;
      flex-grow: inherit;
      flex-shrink: inherit;
      padding: 12px 0 0 !important;

      &:last-child {
          margin-bottom: 0 !important;
      }
  }

  .dialogdemoThemeInheritance .container {
    text-align: center;
  }
